// SPDX-License-Identifier: GPL-2.0

/*
 * Devicetree overlay for the TC9564 SoC.  This overlay defines the PCI
 * endpoint bus provided by function 1 of the embedded PCIe endpoint.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/clock/toshiba,tc9564.h>
#include <dt-bindings/reset/toshiba,tc9564.h>
/ {
	fragment@1 {
		target-path = "";

		__overlay__ {
			#address-cells = <3>;
			#size-cells = <2>;

			#interrupt-cells = <1>;
			interrupt-controller;

			pci-ep-bus@4 {
				compatible = "simple-bus";
				#address-cells = <1>;
				#size-cells = <1>;
				/* Map 0x0-0x1fffff to BAR 4 */
				// ranges = <0x0  0x4 0x0 0x0  0x200000>;
				// ranges = <0x0  0x0200001c 0x0 0x0  0x200000>;
				ranges = <0x40000000  0x02000000 0x0 0x40c00000  0x200000>;

				ethernet@40048000 {
					compatible = "toshiba,tc9564-xgmac",
						     "snps,dwxgmac-3.01",
						     "snps,dwxgmac";
					reg = <0x40048000 0x8000>;
					toshiba,config-syscon = <&config_syscon0>;
					toshiba,msigen-syscon = <&msigen_syscon0>;

					clocks = <&tc9564_clock0 CLOCK_MAC1_TX>,
						 <&tc9564_clock0 CLOCK_MAC1_RX>,
						 <&tc9564_clock0 CLOCK_MAC1_ALL>,
						 <&tc9564_clock0 CLOCK_MAC1_RMII>;
					clock-names = "toshiba,tc956x-mac-tx-clock",
						      "toshiba,tc956x-mac-rx-clock",
						      "toshiba,tc956x-mac-all-clock",
						      "toshiba,tc956x-mac-rmii-clock";

					resets = <&tc9564_reset0 RESET_MAC1_MAC>,
						 <&tc9564_reset0 RESET_MAC1_PMA>,
						 <&tc9564_reset0 RESET_MAC1_XPCS>;
					reset-names = "toshiba,tc956x-xpcs-reset",
						      "toshiba,tc956x-mac-reset",
						      "toshiba,tc956x-pma-reset";

					interrupts = <0>; /* PCI INTx assigned interrupt */

					phy-mode = "sgmii";
					phy-handle = <&tc9564_emac1_phy>;

					mdio {
						compatible = "snps,dwmac-mdio";
						#address-cells = <1>;
						#size-cells = <0>;

						tc9564_emac1_phy: ethernet-phy@1c {
							compatible = "ethernet-phy-id004d.d101";
							reg = <0x1c>;
							snps,reset = <&tc9564_gpio0 1 GPIO_ACTIVE_LOW>;
							reset-assert-us = <11000>;
							reset-deassert-us = <70000>;

							vdd18-supply = <&qep_1p8>;

							pinctrl-names = "default";
							pinctrl-0 = <&qep_irq_pin>;
							interrupts-extended = <&tlmm 101 IRQ_TYPE_LEVEL_LOW>;
						};
					};
				};
			};
		};
	};
};
